@charset "UTF-8";
/* ellipsis，省略号，当超过宽度时，显示省略号 */
/* 兼容 inline-block */
/*清除浮动*/
/* 兼容最小高度 */
/*
可实现实虚三角
 */
/*栅格数量*/
/*栅格数量*/
/* line 4, ../../../themes-sass/sass/luna/css/simple.scss */
.order-info h2 {
  height: 20px;
  line-height: 22px;
  border-bottom: #aaa 1px solid;
  margin: 15px 0;
  padding-bottom: 10px;
  font-size: 14px; }

/* line 6, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li {
  position: relative;
  display: block;
  padding: 13px 15px;
  width: 207px;
  height: 80px;
  float: left;
  background-image: url(../images/address.png);
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer; }
  /* line 17, ../../../themes-sass/sass/luna/css/simple.scss */
  .address-list li label {
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e4e4e4;
    display: block; }

/* line 24, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li:hover {
  background-color: #fffae5; }

/* line 25, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li.selected {
  background-image: url(../images/address-selected.png); }

/* line 26, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li .icon-selected-32 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none; }

/* line 27, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li .tip {
  position: absolute;
  left: 50px;
  width: 60px;
  color: #f50;
  font-weight: bold;
  display: none; }

/* line 28, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li.selected .icon-selected-32, .address-list li.selected .tip {
  display: block; }

/* line 29, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li input {
  display: none; }

/* line 30, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li .modify {
  position: absolute;
  left: 15px;
  bottom: 8px;
  display: none;
  color: #C97; }

/* line 31, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li.selected .modify {
  display: block; }

/* line 32, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li .address-info {
  font-size: 12px; }

/* line 33, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li .address-info input {
  vertical-align: middle; }

/* line 34, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li .address-info a.default {
  margin-left: 10px;
  display: none; }

/* line 35, ../../../themes-sass/sass/luna/css/simple.scss */
.address-list li.selected .address-info a.default {
  display: inline-block; }

/* line 38, ../../../themes-sass/sass/luna/css/simple.scss */
.payment-list {
  position: relative; }
  /* line 40, ../../../themes-sass/sass/luna/css/simple.scss */
  .payment-list li {
    position: relative;
    display: block;
    border: 1px solid  #f1f1f1;
    padding-bottom: 10px;
    text-align: center;
    width: 194px;
    height: 106px;
    float: left;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px; }
    /* line 51, ../../../themes-sass/sass/luna/css/simple.scss */
    .payment-list li label {
      padding: 8px;
      margin-bottom: 4px;
      border-bottom: 1px solid #e4e4e4;
      display: block; }
    /* line 58, ../../../themes-sass/sass/luna/css/simple.scss */
    .payment-list li:hover label {
      background-color: #fffae5; }
    /* line 62, ../../../themes-sass/sass/luna/css/simple.scss */
    .payment-list li.selected {
      -webkit-box-shadow: 5px 5px 0 #e3e3e3;
      -moz-box-shadow: 5px 5px 0 #e3e3e3;
      box-shadow: 5px 5px 0 #e3e3e3;
      border: 1px solid #ffe580; }
      /* line 66, ../../../themes-sass/sass/luna/css/simple.scss */
      .payment-list li.selected label {
        background-color: #fff5cc; }
    /* line 70, ../../../themes-sass/sass/luna/css/simple.scss */
    .payment-list li input {
      display: none; }

/* line 76, ../../../themes-sass/sass/luna/css/simple.scss */
table.voucher-list {
  width: 100%;
  background: #FFFFF3;
  border: 1px solid #FAD84E; }

/* line 77, ../../../themes-sass/sass/luna/css/simple.scss */
table.voucher-list td {
  border-bottom: 1px dashed #FFD180;
  padding: 8px; }

/* line 79, ../../../themes-sass/sass/luna/css/simple.scss */
.cart-empty {
  background: url(../images/cart_empty.png) no-repeat 300px center;
  height: 80px;
  padding-top: 60px;
  padding-left: 450px; }

/* line 81, ../../../themes-sass/sass/luna/css/simple.scss */
.oauth-info {
  overflow: hidden;
  margin: 10px auto 10px;
  width: 690px; }

/* line 82, ../../../themes-sass/sass/luna/css/simple.scss */
.oauth-info .u-img {
  float: left;
  width: 100px;
  height: 100px; }

/* line 83, ../../../themes-sass/sass/luna/css/simple.scss */
.oauth-info .u-img img {
  width: 100px;
  height: 100px; }

/* line 84, ../../../themes-sass/sass/luna/css/simple.scss */
.oauth-info .model-text {
  float: right;
  border: 1px solid #ddd;
  border-left: 0;
  padding: 20px;
  width: 549px;
  height: 60px;
  line-height: 30px; }

/* line 85, ../../../themes-sass/sass/luna/css/simple.scss */
.oauth-info .model-text p {
  font-size: 18px;
  font-family: "microsoft yahei";
  color: #666; }

/* line 89, ../../../themes-sass/sass/luna/css/simple.scss */
.tab .tab-head li {
  padding: 0; }

/* line 90, ../../../themes-sass/sass/luna/css/simple.scss */
.tab .tab-head li a {
  padding: 0 2.5em;
  display: block; }

/* line 92, ../../../themes-sass/sass/luna/css/simple.scss */
.status-bar {
  margin: 30px 0;
  text-align: center;
  vertical-align: middle; }
  /* line 97, ../../../themes-sass/sass/luna/css/simple.scss */
  .status-bar .icon-success-48 {
    position: absolute;
    left: -50px; }
  /* line 101, ../../../themes-sass/sass/luna/css/simple.scss */
  .status-bar span {
    position: relative;
    vertical-align: middle;
    font-size: 26px;
    height: 48px;
    line-height: 48px; }

/*# sourceMappingURL=simple.css.map */
