@charset "UTF-8";
/* ellipsis，省略号，当超过宽度时，显示省略号 */
/* 兼容 inline-block */
/*清除浮动*/
/* 兼容最小高度 */
/*
可实现实虚三角
 */
/*栅格数量*/
/*栅格数量*/
/* line 3, ../../../themes-sass/sass/luna/css/ucenter.scss */
.uc-content {
  margin-left: 256px; }
  /* line 5, ../../../themes-sass/sass/luna/css/ucenter.scss */
  .uc-content h1.title {
    padding: 0 0 5px 10px;
    border-bottom: #f0f0f0 1px solid;
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 20px; }

/* line 16, ../../../themes-sass/sass/luna/css/ucenter.scss */
.sidebar .header {
  color: #333;
  font-weight: 700;
  padding: 8px 0;
  font-size: 18px;
  border-bottom: #666 2px solid; }
/* line 23, ../../../themes-sass/sass/luna/css/ucenter.scss */
.sidebar .box {
  overflow: visible;
  border: none; }
  /* line 26, ../../../themes-sass/sass/luna/css/ucenter.scss */
  .sidebar .box h2 {
    color: #999;
    padding: 8px 0; }

/* line 32, ../../../themes-sass/sass/luna/css/ucenter.scss */
.sidebar .menu-list {
  border-bottom: #ddd 1px solid; }

/* line 33, ../../../themes-sass/sass/luna/css/ucenter.scss */
.sidebar .menu-list a {
  display: block;
  padding-left: 15px;
  line-height: 38px;
  height: 38px;
  position: relative; }

/* line 34, ../../../themes-sass/sass/luna/css/ucenter.scss */
.sidebar .menu-list a .l-triangle {
  display: none; }

/* line 35, ../../../themes-sass/sass/luna/css/ucenter.scss */
.sidebar .menu-list a.current, .sidebar .menu-list a:hover {
  background: #797F8A;
  color: #fff;
  border-left: 5px solid #555; }

/* line 36, ../../../themes-sass/sass/luna/css/ucenter.scss */
.sidebar .menu-list a:hover {
  background: #ccc;
  border-left: 5px solid #999; }

/* line 37, ../../../themes-sass/sass/luna/css/ucenter.scss */
.sidebar .menu-list a.current .l-triangle {
  border-width: 14px;
  top: 0;
  right: -28px;
  border-color: transparent transparent transparent #797F8A;
  color: #797F8A;
  display: block; }

/* line 38, ../../../themes-sass/sass/luna/css/ucenter.scss */
.sidebar .menu-list a:hover .l-triangle {
  border-width: 14px;
  top: 0;
  right: -28px;
  border-color: transparent transparent transparent #cccccc;
  color: #cccccc;
  display: block; }

/* line 42, ../../../themes-sass/sass/luna/css/ucenter.scss */
.list-item p {
  color: #454545;
  line-height: 23px;
  padding-left: 20px; }

/* line 43, ../../../themes-sass/sass/luna/css/ucenter.scss */
.order-total {
  background: #eee; }

/* line 44, ../../../themes-sass/sass/luna/css/ucenter.scss */
.order-total p {
  line-height: 23px;
  text-align: right;
  font-size: 14px; }

/* line 45, ../../../themes-sass/sass/luna/css/ucenter.scss */
.order-total .total {
  font-size: 18px;
  font-weight: 700; }

/* line 46, ../../../themes-sass/sass/luna/css/ucenter.scss */
.order-total .total b {
  font-size: 24px;
  font-weight: 700;
  color: red; }

/* line 47, ../../../themes-sass/sass/luna/css/ucenter.scss */
table.attention td {
  padding: 4px 8px; }

/* line 48, ../../../themes-sass/sass/luna/css/ucenter.scss */
.order-status .title {
  background: #f7f7f7;
  padding: 10px;
  border-bottom: #ddd 1px solid; }

/* line 49, ../../../themes-sass/sass/luna/css/ucenter.scss */
.order-status .title b {
  padding-left: 10px; }

/* line 50, ../../../themes-sass/sass/luna/css/ucenter.scss */
.order-status p {
  padding-left: 20px;
  line-height: 28px;
  height: 28px; }

/* line 51, ../../../themes-sass/sass/luna/css/ucenter.scss */
.consult-goods {
  padding-left: 120px; }
  /* line 53, ../../../themes-sass/sass/luna/css/ucenter.scss */
  .consult-goods .goods-img {
    position: absolute;
    margin-left: -110px; }
  /* line 57, ../../../themes-sass/sass/luna/css/ucenter.scss */
  .consult-goods .title {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
    margin-bottom: 10px; }

/* line 63, ../../../themes-sass/sass/luna/css/ucenter.scss */
.ucenter-index {
  position: relative; }
  /* line 4, ../../../themes-sass/sass/tiny-sass/_layout.scss */
  .ucenter-index .sub-1, .ucenter-index .sub-2 {
    position: absolute;
    bottom: 0;
    top: 0; }
  /* line 46, ../../../themes-sass/sass/tiny-sass/_layout.scss */
  .ucenter-index .sub-1 {
    left: 0;
    width: 200px; }
  /* line 70, ../../../themes-sass/sass/tiny-sass/_layout.scss */
  .ucenter-index .sub-2 {
    position: relative;
    margin-left: 200px;
    margin-right: 0; }
  /* line 65, ../../../themes-sass/sass/luna/css/ucenter.scss */
  .ucenter-index .sub-1 {
    text-align: center; }

/*# sourceMappingURL=ucenter.css.map */
