/* CSS Document */
nav {
                     position: relative;
                     z-index: 2;
                     -webkit-transition: background-color .5s ease-in-out;
                     -o-transition: background-color .5s ease-in-out;
                     transition: background-color .5s ease-in-out;
                 }
                 nav.toggle {
                     background-color: rgba(255, 255, 255, 0.95);
                     -webkit-transition: background-color .5s ease-in-out;
                     -o-transition: background-color .5s ease-in-out;
                     transition: background-color .5s ease-in-out;
                 }
                 nav.toggle .meizu-header a,
                 nav.toggle .meizu-header-sub a,
                 nav.toggle .meizu-header-log {
                     color: #515151;
                 }
                 .meizu-header-log {
                     color: #fff;
                 }
                 .meizu-header-sub {
                     font-size: 14px;
                     font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";
                     overflow-x: hidden;
                 }
                 .meizu-header{font-size:14px; font-family:"微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"; position:relative;}

                 .meizu-header a,
                 .meizu-header-sub a {
                     color: #fff;
                     text-decoration: none;
                 }
                 .meizu-header a.hover,
                 .meizu-header a:hover,
                 .meizu-header-sub a.hover,
                 .meizu-header-sub a:hover {
                     color: #eb5e01 !important;
                 }
                 .meizu-header ul,
                 .meizu-header li,
                 .meizu-header-sub ul,
                 .meizu-header-sub li {
                     list-style: none;
                     margin: 0;
                     padding: 0;
                 }
                 /*.meizu-header ul{margin-right: 20px;}*/
                 .meizu-header p,
                 .meizu-header-sub p {
                     margin: 0;
                     padding: 0;
                     width:100%;
                     *width:100px;
                 }
                 .meizu-header-wrap {
                     width: 1100px;
                     margin: 0 auto;
                     padding: 0 20px;
                     overflow: hidden;
                 }
                 .meizu-header-wrap-1200{
                    width:1200px; 
                    margin:0 auto; 
                    padding:0 20px;
                    position:relative
                }
                 .meizu-header-wrap-sub {
                     width: 1280px;
                     margin: 0 auto;
                 }
                
                 .meizu-header-logo {
                     display: inline;
                     float: left;
                     padding: 20px 0;
                 }
                 .meizu-header-logo-img {
                     display: block;
				 	width: 200px;
					height: 92px;
					display: block;
					background: url(../images/logo.png) no-repeat;
				 }
                 nav.toggle .meizu-header-logo-img {
                    width: 200px;
					height: 92px;
					display: block;
					background: url(../images/logo.png) no-repeat;
                 }

                 .meizu-header-log {
                 padding-right: 12.5px;
                 position:relative;
                 z-index: 105;
                 margin-left: 20px;
                 }

                 .meizu-log li a{
                 position:relative;
                 z-index: 4;
                 }
  
              .meizu-log ul li {
              font-size: 12px;
              text-align: left;
              display:block;
              margin: 15px auto;
              }

              .meizu-log ul li:first-child {
              margin-top:0;
              }

              .meizu-log ul li:last-child {
              margin-bottom:0;
              }
              
              .meizu-log .arrow {
              padding-bottom: 7px;
              }

              .u-box {
              display:none;
              border: solid 1px #ccc;
              border-bottom: none;
              border-top: solid 3px #1395E4;
              position:absolute;
              height:78px;
              width: 60px;
              top: 0;
              right:0;
              background-color: #fff;
              z-index:2;
              }

              .log-dropdown {
              display:none;
              position:absolute;
              right: 0;
              top: 0px;
              z-index:1;
              width:155px;
              background-color: #fff;
              top: 80px;
              padding: 20px!important;
              border: solid 1px #ccc;
              box-sizing: border-box;
              }


              .log-dd-sep {
              margin: 18px auto 15px;
              }

              .meizu-log .button.center {
              margin: auto auto;
              display:block;
              padding:8px 30px;
              }

              .meizu-log .signup-help {
              color: #999;
              }

              .meizu-log .signup-help a {
              color: #21A9E7;
              }

              .meizu-log .msg-num {
              color: #F80000;
              }
              
                 .meizu-header-link {
                     display: inline;
                     float: right;
                     overflow: hidden;
                 }
                 .meizu-header-link li {
                     display: inline;
                     float: left;
                 }
                 .meizu-header-link a {
                     display: block;
                     padding: 50px 35px 30px 35px;
					 color:#666;
                 }
				 .meizu-header-link a.curred{
					 color:#eb5e01;
					}
                 .meizu-header-log {
                     display: inline;
                     float: right;
                     padding: 48px 70px 0 0;
                     text-align: right;
                     font-size: 12px;
                 }
                 .log-dropdown li a{color: #333!important;}
                 .meizu-header-sub {
                     z-index: 100;
                     display: none;
                     width: 100%;
                 }
                 .meizu-header-sub-product {
                     display: inline;
                     float: left;
                     text-align: center;
                     padding: 0 5px;
                     position: relative
                 }
                 .meizu-header-sub-product a {
                     display: block;
                     padding: 0 11px 7px;
                     -webkit-transition: opacity .5s ease-in-out;
                     -o-transition: opacity .5s ease-in-out;
                     transition: opacity .5s ease-in-out;
                     cursor:pointer;
                     position: relative;
                     z-index: 99
                 }
                 .meizu-header-sub-product a.hover {
                     color: #515151;
                 }


                 .meizu-header-sub-product a .meizu-header-sub-desc {
                     color: #666;
                     font-size: 12px;
                     padding-top: 5px;
                 }
                 .meizu-header-wrap-sub .meizu-header-sub-products {
                    padding-left: 393px;
                     overflow: hidden;
                 }
                 #meizu-header-sub-pro .meizu-header-sub-products{padding-left: 475px;}
                    #meizu-header-sub-pro .meizu-header-sub-desc{text-indent: -8px;}
                 #meizu-header-sub-router .meizu-header-sub-products{padding-left: 708px}
                #meizu-header-sub-meilan .meizu-header-sub-products{padding-left: 374px;}
                #meizu-header-sub-accesory .meizu-header-sub-products{padding-left: 789px;}

                 .meizu-header-sub-img,.meizu-header-sub-img img{
                     position:relative;
                     z-index:-1
                 }
                 .meizu-header-sub-img {
                     height:80px;
                     padding: 0 10px 5px 10px;    
                 }
                 .meizu-header-sub-img img {
                     height:80px;
                 }


                 .meizu-header-sub-product .meizu-header-sub-desc {
                     padding-bottom: 11px;
                 }
                 .meizu-header-link-product:hover .meizu-header-sub,
                 .meizu-header-link-product.hover .meizu-header-sub {
                     display: block;
                 }
                 .meizu-header-link-product:hover .meizu-header-link-product-a,
                 .meizu-header-link-product.hover .meizu-header-link-product-a {
                     color: #31a5e7;
                 }
                 @media screen and (max-width: 1200px) {
                     .meizu-header {
                         width: 1200px;
                     }
                 }
                 
                 .meizu-header-sub-img,
                 .meizu-header-sub-img img,
                 .meizu-header-sub-desc{display: block; white-space:nowrap;}
                .meizu-header-sub-img{overflow: hidden;}
